## -*- coding: utf-8 -*-
<%page args="match, is_admin"/>
<%
  import models
%>
<div class="match">
<div class="date">
${models.relative_time(match.date)}
</div>
% if is_admin:
<div class="delete_link">
<a href="/match/delete/${match.key().id()}"\
   onclick="if (!confirm('Êtes vous sur de vouloir supprimer ce match ?')) return false;">[supprimer]</a>
</div>
% endif
${match.nickname1}
% if match.score1 == 3:
<b>${match.score1}</b>
% else:
${match.score1}
% endif
 -
% if match.score2 == 3:
<b>${match.score2}</b>
% else:
${match.score2}
% endif
${match.nickname2}
</div>
