## -*- coding: utf-8 -*-
<%page args="match, is_admin, user"/>
<%
  import models
%>
<div class="match">
<div class="date">
${models.relative_time(match.date)}
</div>
% if is_admin:
<div class="delete_link">
<a href="/match/delete/${match.key().id()}"\
   onclick="if (!confirm('Êtes vous sur de vouloir supprimer ce match ?')) return false;">[supprimer]</a>
</div>
% endif
% if match.score1 == 3 and (user is None or user == match.nickname1):
<b>${match.nickname1}
${match.score1}</b>
% else:
${match.nickname1}
${match.score1}
% endif
 -
% if match.score2 == 3 and (user is None or user == match.nickname2):
<b>${match.score2}
${match.nickname2}</b>
% else:
${match.score2}
${match.nickname2}
% endif
</div>
