## -*- coding: utf-8 -*-
<%inherit file="/base.html"/>

<%def name="body()">
<div class="centered">
<p>Classement:</p>
<center><table class="centered">
<tr class="color3">
<th>Rang</th><th>Nom</th><th>Score</th>
</tr>
${ranks}
</table>
<input id="compare_btn" type="button" value="Comparer les joueurs sélectionnés" style="display:none" />
</center>
<p>
% if len(newcomers):
Inscrits, mais n'ont pas encore joué :
% for newcomer in newcomers:
${newcomer.nickname} 
% endfor
% endif
</p>
<p>Derniers matchs&nbsp;:</p>
<div>
% for match in recent_matches:
<%include file="/base_match.html" args="match=match, is_admin=is_admin, user=None"/>
% endfor
</div>
</div>
<script src="/js/compare.js" type="text/javascript"></script>
</%def>
