## -*- coding: utf-8 -*-
<%inherit file="/base.html"/>

<%def name="body()">
<div class="centered">
<form action="/mail" method="post">
Destinataire:
<select name="mail_to">
% for user in registered_users:
  % if unicode(me.nickname) != user.nickname:
  <option value="${user.key().id()}">${user.nickname}</option>
  % endif
% endfor
</select>
<br /><br />
Sujet : <input type="text" name="subject" /><br />
<textarea name="message" cols="80" style="height:200px;"></textarea>
<br /><br />
<input type="submit" value="Envoyer le mail" />
</form>
</div>
</%def>
