## -*- coding: utf-8 -*-
<%inherit file="/base.html"/>

<%def name="body()">
<div class="centered">
<h3>${user.user.email()}<br /><img src="/avatar/${user.key().id()}" alt="avatar" /></h3>
<form id="edit_form" enctype="multipart/form-data" action="" method="post">
<label for="nickname">Nom d'utilisateur&nbsp;:</label>
<input id="nickname" value="${user.nickname}" name="nickname" />
<br />
<label for="avatar">Avatar (1M max)&nbsp;:</label>
<input type="file" id="avatar" name="avatar" />
<br /><br />
<input type="submit" value="Mettre à jour" />
<a href="/"><input type="button" value="Annuler" /></a>
</form>
</div>
</%def>
